# Build artifacts
*.apk
*.ap_
*.aab
/build/
/app/build/

# Gradle
.gradle/

# Android Studio / IntelliJ IDEA
.idea/
*.iml
.DS_Store

# Local configuration
local.properties
captures/
.externalNativeBuild
.cxx/
